<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, Multimedia, audio, video, mapa, tabla, icono">
    <link rel="icon" href="../statics/img/MundoCatolico.ico">
    <link rel="stylesheet" href="../statics/css/formulario.css">
    <title>Qué ofrecemos?</title>
</head>
<body>

    <header>
        <div class="en-linea">
            <img id="logo" src="../statics/img/MundoCatolico.jpg" alt="logo">
        </div>
      
        <nav class="en-linea">
        <a class="hipervinc" href="../index.html">Inicio</a>
              <a class="hipervinc" href="listas.html">Qué Ofrecemos?</a>
              <a class="hipervinc" href="formulario.html">Contacto</a>
        </nav>
    </header>

    <main>
        <h2>Qué Ofrecemos:</h2>
            <section id="initab">
                <div>
                   <h2 class="texto2">Oraciones</h4> 
    
                    <table >
                        <tr>
                            <th class="texto1">Para Niños</th>
                            <th class="texto1" colspan="2">Para Adultos</th>
                          <!--  <th>Encabezado3</th> . --> 
                        </tr>
                        <tr>
                            <td><a href="#O1">La Señal de la Cruz</a></td>
                            <td><a href="#O01">La Señal de la Cruz</a></td>
                        </tr>
                        <tr>
                            <td><a href="#O2">Padre Nuestro</a></td>
                            <td><a href="#O02">Padre Nuestro</a></td>
                        </tr>
                        <tr>
                            <td><a href="#O3">El Ave María</a></td>
                            <td><a href="#O03">El Ave María</a></td>
                        </tr>
                         <tr>
                            <td><a href="#O4">Los Mandamientos de la Ley de Dios</a></td>
                            <td><a href="#O04">Los Mandamientos de la Ley de Dios</a></td>
                        </tr>

                     </table>
    
                </div>
    <br> <br> 
             </section>

             <section id="initab2">
                <div>
                   <h2 class="texto2">Videos</h4> 
    
                    <table >
                        <tr>
                            <th class="texto1">Para Niños</th>
                            <th class="texto1" colspan="2">Para Adultos</th>
                        </tr>
                        <tr>
                            <td><a href="#O5">Coronilla de la Misericordia</a></td>
                            <td><a href="#O05">Coronilla de la Misericordia</a></td>
                        </tr>
                      </table>  
                </div>
            <br> 
             </section>

             <section id="initab3">
                <div>
                   <h2 class="texto2">Audios de los Misterios del Rosario</h4> 
    
                    <table >
<!--                <tr>
                            <th class="texto1" colspan="4">Los Misterios del Rosario</th>
                        </tr>-->        
                        <tr>
                            <td>Misterios Dolorosos: <audio src="../assets/audio/Dolorosos_1.mp3" controls> </audio></td>
                            <td>Misterios Gloriosos: <audio src="../assets/audio/Gloriosos_2.mp3" controls> </audio></td>
                            <td>Misterios Gozosos: <audio src="../assets/audio/Gozosos_3.mp3" controls> </audio></td>
                            <td>Misterios Luminosos: <audio src="../assets/audio/Luminosos_4.mp3" controls> </audio></td>
                        </tr>
                      </table>  
                </div>
            <br> <br> <br> <br>
             </section>

            <section id="O1" >

                <div >
                    <img src="../statics/img/la-señal-de-la-cruz.png" alt="Foto Señal de la Cruz">
                 
                    <a href="../statics/img/la-señal-de-la-cruz.png" target="_blank">Ver imagen &nbsp &nbsp</a>
                    
                    <a href="../statics/img/la-señal-de-la-cruz.png" download="">Descargar imagen &nbsp &nbsp</a>
                    
                    <a href="../assets/la-señal-de-la-cruz.pdf" download="">Descargar PDF</a>
                    &nbsp&nbsp&nbsp&nbsp
                     <a href="listas.html">Volver</a>
                </div>
                <br> <br> <br> <br>
            </section>
            <section id="O2" >

                <div >
                    <img src="https://cute-sundae-c51eeb.netlify.app/statics/img/PadreNuestroNenes.png" alt="Foto Padre Nuestro Nenes">
                 
                    <a #iniciatab>Volver</a>
                    <a href="../statics/img/PadreNuestroNenes.png" target="_blank">Ver imagen &nbsp &nbsp</a>
                    
                    <a href="../statics/img/PadreNuestroNenes.png" download="">Descargar imagen &nbsp &nbsp</a>
                    
                    <a href="../assets/PadreNuestroNenes.pdf" download="">Descargar PDF</a>
                    &nbsp&nbsp&nbsp&nbsp
                    <a href="listas.html">Volver</a>
                </div>
    
            </section>

            <br> <br> <br> <br>

            <section id="O3" >

                <div >
                    <img src="../statics/img/AveMaria.png" alt="Foto Ave Maria">
                 
                    <a #iniciatab>Volver</a>
                    <a href="../statics/img/AveMaria.png" target="_blank">Ver imagen &nbsp &nbsp</a>
                    
                    <a href="../statics/img/AveMaria.png" download="">Descargar imagen &nbsp &nbsp</a>
                    
                    <a href="../assets/AveMaria.pdf" download="">Descargar PDF</a>
                    &nbsp&nbsp&nbsp&nbsp
                    <a href="listas.html">Volver</a>
                </div>
    
            </section>

            <br> <br> <br> <br>

            <section id="O4" >

                <div >
                    <img src="../statics/img/Mandamientos.jpg" alt="FotoLos Mandamientos">
                 
                    <a #iniciatab>Volver</a>
                    <a href="../statics/img/Mandamientos.jpg" target="_blank">Ver imagen &nbsp &nbsp</a>
                    
                    <a href="../statics/img/Mandamientos.jpg" download="">Descargar imagen &nbsp &nbsp</a>
                    
                    <a href="../assets/Mandamientos.pdf" download="">Descargar PDF</a>
                    &nbsp&nbsp&nbsp&nbsp
                    <a href="listas.html">Volver</a>
                </div>
    
            </section>
   
            <br> <br> <br> <br>

            <section id="O01" >
                <br>
                <p class="texto1">Jesús nos enseñó cual es el camino del cristiano: la cruz. Con esta oración los cristianos saludamos a nuestro Padre que está en los cielos y que mandó a su hijo a librarnos del pecado. Le pedimos que nos libre del mal y reconocemos una de nuestras principales verdades de fe: la Santísima Trinidad.
    
                Al tiempo que recitamos la oración dibujamos, de arriba hacía abajo y de izquierda a derecha, una cruz en nuestra frente, en nuestros labios y en nuestro pecho; para terminar santigüándonos, dibujando una cruz desde nuestra frente al pecho y desde el hombro izquierdo hasta el derecho.</p>
            </section>

            <section>
                <h2 class="texto2">ORACIÓN</h2>
                <p class="texto2">
                    Por la señal de la Santa Cruz,<br>
                    de nuestros enemigos<br>
                    líbranos Señor, Dios nuestro.<br>
                    En el nombre del Padre,<br>
                    y del Hijo, y del Espíritu Santo.<br>
                    Amén.</p>
                    <br>
                    <a href="listas.html">Volver</a>
                </section>

                <br> <br> <br> <br><br> <br> <br> <br><br> <br> <br> <br> <br>

            <section id="O02" >
                <br>
                <p class="texto1">Santo Tomás de Aquino definió al Padre Nuestro como la súplica más perfecta de todas. 
                    Es el primer acercamiento de los católicos con Dios Padre, Hijo y Espíritu Santo. 
                    Se conoce como La oración del Señor. </p>
            </section>

            <section>
                <h2 class="texto2">ORACIÓN</h2>
                <p class="texto2">
                    Padre nuestro que estás en el cielo,<br>
                    santificado sea tu nombre; <br> venga a nosotros tu reino; <br>
                    hágase tu voluntad, <br> en la tierra como en el cielo.<br>
                    Danos hoy nuestro pan de cada día;<br>
                    perdona nuestras ofensas,<br> como también nosotros <br> perdonamos a los que nos ofenden;<br>
                    no nos dejes caer en la tentación, <br>y líbranos del mal.<br>
                    Amén.</p>
                    <br>
                    <a href="listas.html">Volver</a>
            </section>
            <br> <br> <br> <br><br> <br> <br> <br><br> <br> <br> <br>
            <br> <br> <br> <br>

            <section id="O03" >
                <br>
                <p class="texto1">El Avemaría es seguramente una de las primeras oraciones que aprendimos cuando éramos niños. Es una oración sencilla, un diálogo muy sincero nacido del corazón, un saludo cariñoso a nuestra Madre del Cielo.

                    Recoge las mismas palabras del saludo del ángel en la Anunciación (Lucas 1, 28) y
                    del saludo de Isabel (Lucas 1, 42), y después añade nuestra petición de intercesión confiada a su corazón amantísimo. En el sigo XVI se añadió la frase final: “ahora y en la hora de nuestra muerte”. Todo ello forma una riquísima oración llena de significado.
                    
                    El Avemaría es una oración vocal, es decir, que se hace repitiendo palabras, recitando fórmulas, pero no por esto es menos intensa, menos personal.
                    
                    Podemos decir que el Avemaría y el Rosario son las dos grandes expresiones de la devoción cristiana a la Santísima Virgen.</p>
            </section>

            <section>
                <h2 class="texto2">ORACIÓN</h2>
                <p class="texto2">
                    Dios te salve María, <br>
                    llena eres de gracia, <br>el Señor es contigo. <br>
                    Bendita Tú eres entre todas las mujeres <br>
                    y bendito es el fruto de tu vientre Jesús. <br>
                    Santa María, Madre de Dios, <br>
                    ruega por nosotros pecadores, <br>
                    ahora y en la hora de nuestra muerte.<br>
                    Amén.</p>
                    <br>
                    <a href="listas.html">Volver</a>
                </section>

                <br> <br> <br> <br><br> <br> <br> <br><br> <br> <br> <br> <br>

            <section id="O04" >
                <br>
                <p class="texto1">Los Diez Mandamientos, también conocidos como el Decálogo, 
                    es un conjunto de principios éticos y de adoración, que juegan un papel importante 
                    en el judaísmo y el cristianismo. 
                    Los Diez Mandamientos aparecen dos veces en la Biblia hebrea: 
                    en los libros de Éxodo y Deuteronomio. De acuerdo a la historia narrada en el 
                    libro de Éxodo, Dios escribió estos mandatos en dos tablas de piedra, 
                    las que dio a Moisés en el Monte Sinaí; según el relato, cuando bajaba del monte, 
                    vio al pueblo que estaba adorando un becerro de oro y enfurecido las rompió. 
                    Posteriormente, pidió a Dios que perdonase al pueblo y sellase con él un «convenio» 
                    (pacto o alianza); entonces, el Señor ordenó a Moisés que tomara dos lajas de piedra 
                    y en ellas quedaron escritos los Diez Mandamientos del pacto, reconviniéndole que 
                    «no deben tolerar la desobediencia».</p>
            </section>

            <section>
                <h2 class="texto2">Los 10 Mandamientos de la Ley de Dios</h2>
                <p class="texto2">
                    <ol class="texto1">
                        <li> Amarás a Dios sobre todas las cosas. </li>
                        <li> No tomarás el nombre de Dios en vano. </li>
                        <li> Santificarás las fiestas. </li>
                        <li> Honrarás a tu padre y a tu madre. </li>
                        <li> No matarás. </li>
                        <li> No cometerás actos impuros. </li>
                        <li> No robarás. </li>
                        <li> No darás falso testimonio ni mentirás. </li>
                        <li> No consentirás pensamientos ni deseos impuros. </li>
                        <li> No codiciarás bienes ajenos. </li>
                    </ol>
                </p>
                    <a href="listas.html">Volver</a>
            </section>
            <br> <br> <br> <br><br> <br> <br> <br><br> <br> <br> <br>


            <section id="O5">
            <br> <br> <br>
            <h3  class="texto1">Coronilla de la Divina Misericordia </h3>
            <iframe width="400" height="383" src="https://www.youtube.com/embed/RdDZTHx_QsY" title="Coronilla de la Misericordia para niños" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <a href="listas.html">Volver</a>

        </section>

        <br> <br> <br> <br><br> <br> <br> <br><br> <br> <br> <br>

        <section id="O05">
            <h2>Para Adultos </h2>
            <h3>Coronilla de la Divina Misericordia </h3>
<!--        <iframe width="680" height="383" src="https://www.youtube.com/embed/Z0OtwZNe18E" title="CORONILLA DE LA DIVINA MISERICORDIA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->    
        <iframe width="400" height="383" src="https://www.youtube.com/embed/Z0OtwZNe18E" title="CORONILLA DE LA DIVINA MISERICORDIA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
        <a href="listas.html">Volver</a>
        </section>

</main>

    <footer>
        <h3>Mundo Católico</h3> 
        <a href="mailto:">Enviar correo</a> 
        <h4>Desarrollado por Comisión 24167 - Grupo 12</h4>
        <h4> © Todos los derechos reservados</h4>
    
    </footer>
    
</body>
</html>